################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreBackend/.vs/AspNetCoreBackend
/AspNetCoreBackend/AspNetCoreBackend/bin/Debug/netcoreapp3.1
/AspNetCoreBackend/AspNetCoreBackend/obj
