################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreBackend/.vs/AspNetCoreBackend
/AspNetCoreBackend/AspNetCoreBackend/bin/Debug/netcoreapp3.1
/AspNetCoreBackend/AspNetCoreBackend/obj
/AspNetCoreBackend/TietokantaDemoAdoNet/bin/Debug
/AspNetCoreBackend/TietokantaDemoAdoNet/obj/Debug
/Demoja/ArvaaLukuPeli/.vs/ArvaaLukuPeli/v16
/Demoja/ArvaaLukuPeli/ArvaaLukuPeli/bin/Debug/netcoreapp3.1
/Demoja/ArvaaLukuPeli/ArvaaLukuPeli/obj
/Demoja/ArvaaLukuPeli/.vs/ArvaaLukuPeli/DesignTimeBuild
/Demoja/OlioOhjelmointi/.vs/OlioOhjelmointi/v16
/Demoja/OlioOhjelmointi/OlioOhjelmointi/bin/Debug/netcoreapp3.1
/Demoja/OlioOhjelmointi/OlioOhjelmointi/obj
